* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5vh;
}

body {
    height: 100vh;
    background: linear-gradient(
        #d8424e,
        #e98955
    ) 0 100% no-repeat;
    background-size: 100% 100%;
}

$amount: 5;

.resource-container {
    --amount: 5;
    --counter: 1;
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(var(--amount), 1fr, 2fr) 1fr;

    width: 80%;
    height: 80%;
    /*border: 1px solid black;*/
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    background-color: #604010;
    box-shadow: 0 15px 35px rgba(50,50,50,0.15);
    border-radius: 8px;
    
    font-family: "Poppins", sans-serif;
    
}

.resource {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;

    height: 0;
    padding-bottom: 100%;

    @for $i from 1 through 20 {
        &:nth-of-type(n + #{$i * $amount + 1}) {
            --counter: #{$i + 1};
        }
    }
}

.frequency {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.dot {
    width: 7px;
    height: 7px;
    background-color: #000000;
    border-radius: 50%;
    padding: 2px;

    /* Dot positioning */
    display: flex;
    flex-direction: column;
}

.wood {
    background-color: #307e30;
}

.brick {
    background-color: #99441f;
}

.ore {
    background-color: #465c72;
}

.wheat {
    background-color: #faf207;
}

.sheep {
    background-color: #29f529;
}

.desert {
    background-color: #fae0c0;
}